/*MAIN NOTICIAS DETALLE*/
.body {
  font-family: "Poppins", sans-serif;
}

/*color de fondo del cuerpo del sitio*/
.bg1 {
  background-color: #0d0d0d !important;
}


/*contenedor de fondo de las peliculas*/
.card-body {
  color: white !important;
  max-width: 95% !important;
  /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto !important;
  /* Para centrar el contenido dentro del ancho máximo */
}

/*contenedor de las peliculas*/
.peliculas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pelicula {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  /* Ajusta el margen entre cada imagen */
  border-radius: 2%;
}

/*titulo de peliculas*/
.bajada {
  margin-top: 10px;
  text-align: left !important;
  color: white;
  text-transform: uppercase;
}

/*titulo principal*/
.titulo4 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2;
  padding-left: 9px;
  text-transform: uppercase;
  margin-top: 2em;
  padding-bottom: 0.5em;
  border-bottom: 0.4px solid #fa320a;
  color: white;
}

.titulo5 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2;
  padding-left: 9px;
  text-transform: uppercase;
  margin-top: 2em;
  color: white;
  padding-bottom: 0.8em;
}

.bajada1 {
  font-size: 1.1rem;

  line-height: 1.2;
  padding-left: 9px;
  text-transform: uppercase;
  margin-top: 0.5em;
  padding-bottom: 0.8em;
  border-bottom: 0.4px solid #fa320a;
  color: white;
}

.fondo {
  background-color: rgb(23, 22, 22) !important;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumen {
  font-size: 1.1rem;
}

.videodeyoutube {
  padding-top: 1rem;
  padding-bottom: 2rem;
}