<!--HEADER-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
            <!--LOGO-->
            <a class="navbar-brand" href="/">
                <img src="https://abisulkes.alwaysdata.net/cineTipsBlanco.png" class="logoPrincipal" alt="Logo">
            </a>
            <!--FINAL LOGO-->

            <!--BOTÓN TOGGLE PARA MÓVILES-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--SECCIONES-->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/peliculas/estrenos"><b>ÚLTIMOS
                                ESTRENOS</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/peliculas/noticias"><b>NOTICIAS</b></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <b>TOP SERIES</b>
                        </a>
                        <ul class="dropdown-menu bgColor">
                            <li><a class="dropdown-item" href="/peliculas/seriesNetflix"><b>TOP
                                        NETFLIX</b></a></li>
                            <li><a class="dropdown-item" href="/peliculas/seriesPrimeVideo"><b>TOP 
                                        Prime Video</b></a></li>
                            <li><a class="dropdown-item" href="/peliculas/seriesDisneyPlus"><b>TOP
                                        DISNEY+</b></a></li>
                            <li><a class="dropdown-item" href="/peliculas/seriesHboMax"><b>TOP
                                        HBO MAX</b></a></li>
                            <li><a class="dropdown-item" href="/peliculas/seriesParamountPlus"><b>TOP
                                        PARAMOUNT+</b></a></li>
                            <li><a class="dropdown-item" href="/peliculas/seriesStarPlus"><b>TOP
                                         STAR+</b></a></li>
                        </ul>
                          
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <b>TOP PELICULAS</b>
                            </a>
                            <ul class="dropdown-menu bgColor">
                                <li><a class="dropdown-item" href="/peliculas/peliculasNetflix"><b>TOP
                                    NETFLIX</b></a></li>
                        <li><a class="dropdown-item" href="/peliculas/peliculasPrimeVideo"><b>TOP 
                                    Prime Video</b></a></li>
                        <li><a class="dropdown-item" href="/peliculas/peliculasDisneyPlus"><b>TOP
                                    DISNEY+</b></a></li>
                        <li><a class="dropdown-item" href="/peliculas/peliculasHboMax"><b>TOP
                                    HBO MAX</b></a></li>
                        <li><a class="dropdown-item" href="/peliculas/peliculasParamountPlus"><b>TOP
                                    PARAMOUNT+</b></a></li>
                        <li><a class="dropdown-item" href="/peliculas/peliculasStarPlus"><b>TOP
                                     STAR+</b></a></li>
                    </ul>
                    </li>
                    <!-- Otras secciones -->
                </ul>
            </div>
            <!--FINAL SECCIONES-->


            <!--BUSCADOR-->
            <form class="d-flex color" role="search" method="POST" action="/buscar">
                <input class="form-control me-2 " type="search" name="busqueda" placeholder="Buscar"
                    aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit"><b>Buscar</b></button>
            </form>
            <!--FINAL BUSCADOR-->

            <!--LOGUEO Y REGISTRO-->
            <div class="btn-group">
                <button type="button" class="btn btn-danger">
                    <% if (isLogged && userLogged && fotoPerfil && fotoPerfil.imagen) { %>
                        <img width="50" height="50"  style="border-radius: 100%;" src="<%= fotoPerfil.imagen %>" alt="Imagen de Perfil">
                        <% } else { %>
                            <i class="fa-solid fa-circle-user icono" style="font-size: 1.7em;" ></i>
                            <% } %>
                </button>

                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <% if (locals.isLogged) { %>
                        <li><a class="dropdown-item" href="/usuarios/perfilUsuario" class="color"> <b>Mi perfil</b> </a>
                        </li>
                        <li><a class="dropdown-item" href="/usuarios/cerrarSesion" class="color"><b> Cerrar sesión</b>
                            </a></li>
                        <% } else { %>
                            <li><a class="dropdown-item" href="/usuarios/login" class="color"><b>Iniciar sesión</b> </a>
                            </li>
                            <li><a class="dropdown-item" href="/usuarios/register" class="color"> <b>Registrarse</b>
                                </a></li>
                            <% } %>
                </ul>
            </div>

            <br>
            <br>
            <br>

            <div class="cuadrado"></div>
        </div>
    </nav>
</header>