<!-- HEAD -->
  <head>
  <%- include(".././partials/headLoginRegister.ejs") %>
</head>

<body>
  <!-- HEADER -->
    <%- include(".././partials/header.ejs") %>

  <!-- MAIN -->
  <main>
    <div class="padre-imagen">
      <div class="seccion-imagen">
        <img src="https://abisulkes.alwaysdata.net/banner-login.jpg" alt="Imagen-login">
      </div>

      <div class="seccion-login">

        <h2 class="titulo1">Inicio de sesión</h2>

        <div>
          <form action="/usuarios/login" method="POST" id="logueo"  class="campo-negro">

            <div class="campo">
             
              <input type="email" name="email" id="email" placeholder="email" class="form-control relleno" />"
              
              <p id="error1"></p>

              <% if (locals.errors && errors.email) {%>
                <div class="text-danger">
                  <%= errors.email.msg %> 
                </div>
              <%}%>

              <input type="password" name="password" id="password" placeholder="contraseña" class="form-control relleno"  />

              <p id="error2"></p>

              <label class="check">
                <input type="checkbox" class="form-check-input" name="recordarUsuario">Recordar mi usuario
              </label>
            </div>

        </div>

        <div class="campo">

          <button class="boton" type="submit">iniciar sesion</button>
          
          <div class="centrado">
            <h5 class="separar-h5">Iniciar sesión con</h5>

            <div class="fila-botones">
              
              <a href="./"><button type="button" value="Continuar con Facebook" class="boton2 google"><i
                    class="fi fi-brands-google"></i>Continuar con Google</button></a>
            </div>
          </div>
          </form>

        </div>
      </div>
  </main>

  <!-- FOOTER -->
  <%- include(".././partials/footer.ejs") %>
  
  <script src="/js/logueo.js"></script>
</body>

</html>